page-login {


    input[type="email"]{
    
        background-color :   white;
    
    
        border: 2px solid   #f797bc;
        
      height :40px !important;
      width : 150 px !important;
      border-radius : 25px;
      
      
      }


      input[type="password"]{
    
        background-color :   white;
    
    
        border: 2px solid   #f797bc;
        
      height :40px !important;
      width : 150 px !important;
      border-radius : 25px;
      
      
      }

    
}
