
.flex_box {
    display: flex;
    justify-content: left ;
}
ion-note {
    font-size: 13px;
}
.text-icon {
    font-size: 22px;
    margin-bottom: -6px;
}

#map{

    height: 300px !important;
    width :150 px !important;
    border: 2px solid   #f797bc;
    border-radius : 25px;
}